/* Estilos base */
.playlist-container {
    display: flex;
    gap: 200px;
    padding: 1rem;
    scroll-behavior: smooth;
}

.playlist {
    flex: 0 0 auto;
    width: 200px;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    color: white;
    cursor: pointer;
}

.playlist img {
    width: 100%;
    height: auto;
    display: block;
}

.playlist h3 {
    font-size: 16px;
}

.playlist p {
    font-size: 14px;
    color: #888;
}
