.card {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
    color: #fff;
    width: 247px;
}

.image {
    width: 60px;
    height: 60px;
    border-radius: 4px;
    object-fit: cover;
    margin-right: 15px;
}

.info {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0;
}

.artist {
    font-size: 0.8rem;
    margin: 0;
    color: #fff;
}
